extends ../blocks/layout

block data

    - const page = { path: 'index', title: 'Главная', description: 'Demo page', styles: [], scripts: [] };

block content


    = nnn
    // Header

    +header


    = nnn
    // Content

    +content
        +e( 'layout', {p: 'page'} )
            +b( 'page-content-header' )
                each item in global.blocks['teaser-block']
                    +b('teaser-block')
                        +icon({e: '&'})(xlink:href=`#${BEMPUG.getCurrentBlock()}__${item.icon}`)
                        +b('title',{e: '&', m: 'size-s', t: 'h2'})= item.title
                        +b( 'paragraph', {t: 'p'} )= item.text
            +e( 'cards' )
                each item in global.blocks.card
                    +b( 'card' )
                        +e( 'image' )
                            +b( 'img' )(src=`${global.paths.static}/card/${item.image}` alt=item.title)
                        +b( 'title', {e: '&', m: 'size-s', t: 'h6'} )= item.title
                        +b( 'paragraph', {t: 'p'} )= item.description

    = nnn
    // Footer
    +footer
